name: main

on:
  push:
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
      uses: ./.github/workflows/testall.yaml
      with:
        build-artifact-name: none
        build-artifact-path: none
        pyodide-versions: "0.26.1,0.25.1,0.24.1"

  deploy:
    runs-on: ubuntu-20.04
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    environment: PyPi-deploy
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: 3.10.2
      - name: Install requirements and build wheel
        shell: bash -l {0}
        run: |
          python -m pip install build twine
          python -m build .
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
