name: main

on: [push, pull_request]

permissions:
  contents: read

concurrency:
  group: main-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  PYODIDE_VERSION: 0.21.0a3

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v3
        with:
          python-version: 3.10.2
      - uses: pre-commit/action@v2.0.3

  download-pyodide:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Cache Pyodide
        uses: actions/cache@v3
        id: cache-pyodide
        with:
          path: dist
          key: ${{ runner.os }}-pyodide-$PYODIDE_VERSION-${{ hashFiles('.github/**/*.yml') }}

      - name: Download Pyodide
        shell: bash -l {0}
        if: steps.cache-pyodide.outputs.cache-hit != 'true'
        run: |
          wget -q https://github.com/pyodide/pyodide/releases/download/$PYODIDE_VERSION/pyodide-build-$PYODIDE_VERSION.tar.bz2
          tar xjf pyodide-build-$PYODIDE_VERSION.tar.bz2
          mv pyodide dist/

  test:
    needs: download-pyodide
    runs-on: ubuntu-latest
    env:
      DISPLAY: :99
    strategy:
      fail-fast: false
      matrix:
        test-config: [
          {runner: selenium, browser: firefox, firefox-version: latest, geckodriver-version: latest },
          {runner: selenium, browser: chrome, chrome-version: latest, chromedriver-version: latest },
          {runner: selenium, browser: node, node-version: 14},
          {runner: selenium, browser: node, node-version: 16},
          {runner: selenium, browser: node, node-version: 18},
          # playwright browser versions are pinned to playwright version
          {runner: playwright, browser: firefox, playwright-version: 1.22.0, node-version: 18},
          {runner: playwright, browser: chrome, playwright-version: 1.22.0, node-version: 18},
        ]
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v3
        with:
          python-version: 3.10.2

      - name: Install node
        uses: actions/setup-node@v3
        if: ${{ matrix.test-config.browser == 'node' || matrix.test-config.runner == 'playwright' }}
        with:
          node-version: ${{ matrix.test-config.node-version }}

      - name: Cache Playwright browsers
        uses: actions/cache@v3
        if: ${{ matrix.test-config.runner == 'playwright' }}
        with:
          path: .cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ matrix.test-config.playwright-version }}

      - name: Install playwright
        shell: bash -l {0}
        if: ${{ matrix.test-config.runner == 'playwright' }}
        run: |
          pip install playwright==${{ matrix.test-config.playwright-version }}
          # TODO: install only browsers that are required
          python -m playwright install --with-deps

      - name: Install firefox
        uses: browser-actions/setup-firefox@latest
        if: ${{ matrix.test-config.runner == 'selenium' && matrix.test-config.browser == 'firefox' }}
        with:
          firefox-version: ${{ matrix.test-config.firefox-version }}

      - name: Install geckodriver
        uses: browser-actions/setup-geckodriver@latest
        if: ${{ matrix.test-config.runner == 'selenium' && matrix.test-config.browser == 'firefox' }}
        with:
          geckodriver-version: ${{ matrix.test-config.geckodriver-version }}

      - name: Install chrome
        uses: browser-actions/setup-chrome@latest
        if: ${{ matrix.test-config.runner == 'selenium' && matrix.test-config.browser == 'chrome' }}
        with:
          chrome-version: ${{ matrix.test-config.geckodriver-version }}

      - name: Install chromedriver
        shell: bash -l {0}
        if: ${{ matrix.test-config.runner == 'selenium' && matrix.test-config.browser == 'chrome' }}
        run: |
          cd tools && ./install_chromedriver.sh ${{ matrix.test-config.chromedriver-version }}

      - name: Install requirements
        shell: bash -l {0}
        run: |
          pip install -e .
          pip install pytest-cov
          # Currently we only install the package for dependencies.
          # We then uninstall it otherwise tests fails due to pytest hook being
          # registered twice.
          pip uninstall -y pytest-pyodide
          which npm && npm install node-fetch@2

      - name: Get Pyodide from cache
        uses: actions/cache@v3
        with:
          path: dist
          key: ${{ runner.os }}-pyodide-$PYODIDE_VERSION-${{ hashFiles('.github/**/*.yml') }}

      - name: Run tests
        shell: bash -l {0}
        run: |
          pytest -v \
            --cov=pytest_pyodide \
            --dist-dir=./dist/ \
            --runner=${{ matrix.test-config.runner }} \
            -k "${{ matrix.test-config.browser }}"

      - uses: codecov/codecov-action@v3
        if: ${{ github.event.repo.name == 'pyodide/pytest-pyodide' }}
        with:
          fail_ci_if_error: true
