name: main

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

concurrency:
  group: main-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v3
        with:
          python-version: 3.10.2
      - uses: pre-commit/action@v2.0.3

  test:
    runs-on: ubuntu-latest
    env:
      DISPLAY: :99
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v3
        with:
          python-version: 3.10.2

      - name: Install requirements
        shell: bash -l {0}
        run: |
          pip install -e .
          pip install pytest-cov
          # Currently we only install the package for dependencies.
          # We then uninstall it otherwise tests fails due to pytest hook being
          # registered twice.
          pip uninstall -y pyodide-test-runner
      - name: Download Pyodide
        shell: bash -l {0}
        run: |
          wget https://github.com/pyodide/pyodide/releases/download/0.21.0a3/pyodide-build-0.21.0a3.tar.bz2
          tar xjf pyodide-build-0.21.0a3.tar.bz2
          mv pyodide dist/
      - name: Run tests
        shell: bash -l {0}
        run: |
          pytest --cov=pyodide_test_runner -v --dist-dir=./dist/
      - uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true
